
footer {
    position: fixed; 
    left: 42%;
    bottom: 0;
    color: white;
}

.nav-list {
    display: flex; /* flexbox */
    justify-content: center; /* content to center  space-between and space-evenly - also interesting */
    /* the thing is this method works with free spaces inside parent */
    gap: 3rem;  /* between elements */
    /* flex-direction: column; -- changes columns to rows */
    /* align-items: center; -- puts content in vertical center of Parent */
    margin: 0;  /* next 3 lines are MUST */
    padding: 20px 0 0 0 ;
    list-style: none;
    /* border: 10px solid firebrick; */
  }

/* .nav-list > * {   -- every child of parent (!)
    flex: 1;
} 

.fl:nth-child(2) {  -- style for just a second child of same class !
    backgroud: red;
} */
.fl {
    /* flex: 1;  /* columns of equal width */
    /* flex-grow: 1;  /* columns will grow to fill all parent */
    flex-shrink: 1;
    /* flex-basis: 300 px;  -- width of columns */
}

  a { /* links in general */
     text-decoration: none;
    /*font-size:100%;
    color:rgba(170, 192, 72; */
  }
  
a:hover { /* main page top links */
    text-decoration: none;
    color:rgb(170, 192, 72);
  }

  .parent-reg { /* three main lang fields */
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    min-width: 600px;
}

                /* -------login-------- */
.container-alert {
    display: flex; 
    justify-content: center;

}

.alert-vis {
    text-align: center;
    background-color: rgba(2, 196, 44, 0.6);
    width: 70%;
    padding: 10px 0 10px 0;
    color: white;
}
.alert-invis {
    opacity: 0.0;
}
    
.closebtn {
    margin-right: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
    
.closebtn:hover {
    color: black;
}

                /* -------index page------- */
.Page2 {
    background-image: url("IndexBack.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-link-ind {
    position: fixed;
    top: 2%;
    right: 3%;
    color: black; }

.nav-link-ind:hover {color:rgb(248, 77, 25);}

#welcome {
    font-size: 60px;
    font-family: Garamond, serif;
}

main {
    display: flex; 
    justify-content: center;
    margin: 0;  
    padding: 0;
    list-style: none;
}

.main1 { /* main title */
    display: flex; 
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
}
/* block of checkboxes */
.parent {
    display: flex; 
    justify-content: center;
    gap: 2rem;
}

.first {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0 15px 0 15px;
}
/* check boxes */
.rad-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
  }
  
  .rad-label:hover, .rad-label:focus-within {background: hsla(0, 0%, 80%, .14);}
  
  .rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, #B94D42, #123232);
    position: relative;
  }
  
  .rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
  }

.container { /* main page buttons */
    display: flex; 
    justify-content: center; 
    gap: 1rem;
    padding-top: 25px;
    padding-bottom: 20px;
}

.btn-2 { /* big button */
    color:#1C372F;
    border-color:#1C372F;
    font-size: 25px;
}
    
.btn-2:hover {
    color:#fff;
    background-color:#376A84;
    border-color:rgb(248, 77, 25)
}

.btn-22 { /* small one */
    color:#6c757d;
    border-color:#6c757d;
    font-size: 21px;
    margin-top: 5px;
}

.btn-22:hover {
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d
}

                  /* --------TRILINGUA page------- */
#TLPage {
    background-image: url("TLBack.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.main2 { /* TL name */
    display: flex; 
    justify-content: center;
    margin: 0;  
    padding: 20px 0 10px 0;
    list-style: none;
    font-size: 130px;
    font-family: 'Snell Roundhand', cursive
}
.alert-TL {
    text-align: center;
    background-color: rgba(228, 191, 3, 0.6);
    width: 70%;
    padding: 10px 0 10px 0;
    color: black;
}
.nav-link-TL {
    position: fixed;
    top: 2%;
    right: 3%;
    color: black; }

.nav-link-TL:hover {color:rgb(170, 192, 72);}

#TL-form {
    padding-bottom: 100px;
}

.parent2 { /* three main lang fields */
    display: flex; 
    justify-content: center;
    gap: 2rem;
}

.w3 {   /* three language fields */
    color: rgb(248, 77, 25);
    text-align: center;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    margin-top: 20px;
    font-size: 20px;
}
.w3:focus { outline-color: rgb(170, 192, 72);}

.table { /* History table */

    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 60%;
    font-size: 17px;
}

tr {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

table {
    min-width: 95%;
    text-align: center;
}

.table:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table th, table td {
    padding: 0.75rem;
    vertical-align: middle;
}
tbody {
    width: 700px;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(170, 192, 72, 0.2)
}

.btn-23 { /* small buttons */
    color:#6c757d;
    border-color:#6c757d;
    font-size: 21px;
}

.btn-23:hover {
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d
}

#btn:hover {
    background-color: #a60303; 
    color: white;
}
                    /* -------TEST page------- */
#PageTest {
    background-image: url("TestBack.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-link-test { /*logout */
    position: fixed;
    top: 2%;
    right: 3%;
    color: black;
}

.nav-link-test:hover {color: rgb(248, 77, 25);}

.Tlink:hover {color: rgb(248, 77, 25)}

.selector {
    display: flex; /* flexbox */
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 1rem;
}

.container3 { /* with all fields */
    display: flex; 
    justify-content: center;
}

.test {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: none;
}

.test:focus, .test:hover{
    outline: none !important;
    border-color: #802a6a;
    box-shadow: 0 0 10px #d10a56;
}

#lines {
    width: 100px; 
    padding: 2px 0 2px 0; 
    font-size: 21px;
    text-align: center;
}

#refresh {width: 40px;}
#refresh:hover {background-color: rgb(4, 118, 28);}
#reveal {background-color: rgb(248, 77, 25); color: ivory;}
#reveal:hover {background-color: #B94D42;}

.custom-select {
    font-size: 21px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 0 5px 0;

  }

  .mid {
    color: rgba(0, 0, 0, 0.0);
}

.mid-vis {
    color: rgb(248, 77, 25);
}

.mid:focus, .mid:hover {
    color: rgb(248, 77, 25);
}
  
