{% extends "layout.html" %}

{% block title %}
Welcome to Trilingua!
{% endblock %}

{% block main %}
    <body class="Page2">

        <a class="nav-link-ind" href="/logout">{{name}} - Logout</a>
        <h1 class="main1" id="welcome">Choose {{your}} languages</h1>
        <form action="/" method="post">
            <div class="parent"> 
                <div class="first">
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="eng1" name="options1" value="eng" checked>
                    <div class="rad-design"></div>
                    <div class="rad-text">English</div>
                </label>
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="spa1" name="options1" value="spa">
                    <div class="rad-design"></div>
                    <div class="rad-text">Spanish</div>
                </label>
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="rus1" name="options1" value="rus">
                    <div class="rad-design"></div>
                    <div class="rad-text">Russian</div>
                </label>
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="fra1" name="options1" value="fre">
                    <div class="rad-design"></div>
                    <div class="rad-text">French</div>
                </label>
            </div>

            <div class="first">
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="eng2" name="options2" value="eng">
                    <div class="rad-design"></div>
                    <div class="rad-text">English</div>
                </label>
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="spa2" name="options2" value="spa" checked>
                    <div class="rad-design"></div>
                    <div class="rad-text">Spanish</div>
                </label>
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="rus2" name="options2" value="rus">
                    <div class="rad-design"></div>
                    <div class="rad-text">Russian</div>
                </label>
                <label class="rad-label">
                    <input type="radio" class="rad-input" id="fra2" name="options2" value="fre">
                    <div class="rad-design"></div>
                    <div class="rad-text">French</div>
                </label>
            </div>

                <div class="first">
                    <label class="rad-label">
                        <input type="radio" class="rad-input" id="eng3" name="options3" value="eng">
                        <div class="rad-design"></div>
                        <div class="rad-text">English</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" id="spa3" name="options3" value="spa">
                        <div class="rad-design"></div>
                        <div class="rad-text">Spanish</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" id="rus3" name="options3" value="rus" checked>
                        <div class="rad-design"></div>
                        <div class="rad-text">Russian</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" id="fra3" name="options3" value="fre">
                        <div class="rad-design"></div>
                        <div class="rad-text">French</div>
                    </label>
                </div>
            </div>

            <div class="container">
            <div><button name="translate" type="submit" class="btn-2" type="button" value="translate">Translate</button></div>
            <div><button name="test" type="submit" class="btn-22" type="button" value="test">Test yourself</button></div>
            </div>
        </form>
{% endblock %}
