{% extends "layout.html" %}

{% block title %}
Welcome to Trilingua!
{% endblock %}

{% block main %}
    <body class="Page2">

        <a class="nav-link-ind" href="/register">Register</a>
        <h1 class="main1" id="welcome">Get Started</h1>
        <form action="/login" method="post">
            <div class="parent2">
                <input class="w3" autocomplete="off" autofocus id="username" name="username" placeholder="{{username}}" type="text" maxlength="50" required>
                <input class="w3" id="password" name="password" placeholder="{{password}}" type="password" maxlength="50" required >
            </div>
            <div class="container">
                <button class="btn btn-primary" type="submit">Log In</button> 
            </div>
        </form>
{% endblock %}
