{% extends "layout.html" %}

{% block title %}
Welcome to Trilingua!
{% endblock %}

{% block main %}
    <body class="Page2">

        <a class="nav-link-ind" href="/login">Login</a>
        <h1  class="main1" id="welcome">Register</h1>
        <form action="/register" method="post">
            <div class="parent-reg">
                <input class="w3" name="username" placeholder="{{username}}" type="text" maxlength="50" required>
                <input class="w3" name="password" placeholder="{{password}}" type="password" maxlength="50" pattern="(?=.*\d)(?=.*[\W_]).{7,}" title="Minimum of 7 characters. Should have at least one special character and one number." required>
                <input class="w3" name="confirmation" placeholder="{{confirm}}" type="password" maxlength="50" pattern="(?=.*\d)(?=.*[\W_]).{7,}" title="Minimum of 7 characters. Should have at least one special character and one number." required>
            </div>
            <div class="container">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>

{% endblock %}


