{% extends "layout.html" %}

{% block title %}
Trilingua Test
{% endblock %}

{% block main %}
    <body id="PageTest">
        <input type="hidden" id="warningTest" value="{{warningCode}}">
        <nav> 
            <ul class="nav-list">
                <li class="fl"><a class="Tlink" href="/">-Languages-</a></li>
                <li class="fl"><a class="Tlink" href="/trilingua">-Translate-</a></li>
            </ul>
        </nav>
        <a class="nav-link-test" href="/logout">{{name}} - Logout</a>
        <div class="selector">
            <!-- method and lines selection tool -->
            <form action="/test" method="post">
                <input id="lines" name="lines" autofocus placeholder="Lines" type="number" value="7" min="1" max="7">
                    <select class="custom-select" id="method" name="method">
                        <option disabled selected>Method</option>
                        {% for method in methods %}
                            <option id="{{method}}">{{ method }}</option>
                        {% endfor %}
                    </select>
                    <select class="custom-select" id="types" name="type" disabled style="text-align: center;">
                        <option disabled selected>Category</option>
                        {% for type in types %}
                            <option>{{ type }}</option>
                        {% endfor %}
                    </select>
                <button class="btn-22" style="width: 110px; margin-left: 10px;">Test</button>
            </form>
            <button id="refresh" class="btn-22" onClick="window.location.reload();">&#8634</button>
            <button id="reveal" class="btn-22" onclick="change_css()">Reveal</button>      
        </div>
        <div class="container-alert">
            <div id="Test-alert" class="alert-TL">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Warning!</strong> {{warningCode}}
            </div>
        </div>
        {% for i in range(left|length) %} <!-- (!) jinja lenght -->

        <div class="container3">
            <form class="w3-row-padding">
                <div class="w3-third">
                    <input id='left' name="left" class="w3 test" readonly type="text" value="{{left[i]}}">
                </div>
                <div class="w3-third">
                    <input id='middle' name="middle" class="w3 test mid" readonly type="text" value="{{middle[i]}}">
                    <input type="submit" hidden>
                </div>
                <div class="w3-third">
                    <input id='right' name="right" class="w3 test mid" readonly type="text" value="{{right[i]}}">
                </div>
            </form>
        </div>
        {% endfor %}

    <script>
        document.getElementById("method").onchange = Enable; // onchange - cool method
        function Enable() { // enable types selector if said method is choosen
            if (document.getElementById("Category").selected == true)
            { 
                document.getElementById("types").disabled = false
            }
            else  // disables Types otherwise
            {
                document.getElementById("types").disabled = true
            } 
        };
        
        function change_css(){
            var elements = document.getElementsByClassName('mid');
            for (var i = 0, length = elements.length; i < length; i++) {
                elements[i].classList.toggle("midVis");  // all fields of class "mid" (with translations)
                //elements[i].style.width = "50px";
            }
        }
        // warning checks
        if (document.getElementById("warningTest").value)
        {
            document.getElementById("Test-alert").className = "alert-TL";
        }
        else
        {
            document.getElementById("Test-alert").className = "alert-invis";
        }
    </script>
{% endblock %}
