{% extends "layout.html" %}

{% block title %}
Trilingua
{% endblock %}

{% block main %}
    <body id="TLPage">
        <nav> 
            <ul class="nav-list">
                <li class="fl"><a href="/">-Languages-</a></li>
                <li class="fl"><a href="/test">-To Test-</a></li>
            </ul>
        </nav>
        <h1 class="main2"><a href="/trilingua"> Trilingua</a></h1> 
        <a class="nav-link-TL" href="/logout">{{name}} - Logout</a>
        <form action="/trilingua" method="post">
            <div class="parent2">
                <input id='left' name="left" class="w3" type="text" placeholder="{{l1}}" onclick="ClearFields();" value="{{left}}" maxlength="50">
                <input id='middle' name="middle" class="w3" type="text" placeholder="{{l2}}" onclick="ClearFields();" value="{{middle}}" maxlength="50">
                <input id='right' name="right" class="w3" type="text" placeholder="{{l3}}" onclick="ClearFields();" value="{{right}}" maxlength="50">
                <input type="submit" hidden>
            </div>
            <div class="container">
                <div><button name="btn" class="btn-23" type="submit">Translate</button></div>
                <div><button id = "btn" name="btn" class="btn-23" type="submit" value="clear">Clear history</button></div>   
            </div>
            <div class="container table">
                <table>
                    <tbody>
                        <!-- Loop through the database entries to display them in this table -->
                        {% for word in words|reverse %}
                        <tr>
                            <td>{{word[1]}}</td>
                            <td>{{word[2]}}</td>
                            <td>{{word[3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <script>
            function ClearFields() {
                document.getElementById("middle").value = "";
                document.getElementById("left").value = "";
                document.getElementById("right").value = "";
            }
        </script>
{% endblock %}